<div class="row w-100 mx-0 auth-page">
  <div class="col-md-10 col-xl-8 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-6 pe-md-0">
          <div class="auth-side-wrapper" 
            [ngStyle]="{ 
              'background-image': 'url(assets/images/others/uds.png)', 
              'background-size':'contain',
              'background-repeat': 'no-repeat',
              'background-position': 'center center' }">
          </div>
        </div>
        <div class="col-md-6 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="nobleui-logo d-block mb-2">UDS</a>
            <a routerLink="." class="nobleui-logo d-block mb-2"><span>Universidad de Sucre</span></a>
            <h5 class="text-muted fw-normal mb-4">Bienvenido! Por favor, ingresa tus credenciales.</h5>
            <form class="forms-sample">
              <div class="mb-3">
                <label for="documentNumber" class="form-label">Numero Documento</label>
                <input type="number" class="form-control" #documentNumber id="documentNumber"(keyup)="validateLenght($event)" placeholder="Documento">
              </div>
              <div class="mb-3">
                <label for="pass" class="form-label">Contraseña</label>
                <input type="password" class="form-control" #password id="pass" autocomplete="current-password" placeholder="Contraseña">
              </div>
              <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="authCheck">
                <label class="form-check-label" for="authCheck">
                  Recordarme
                </label>
              </div>
              <div>
                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0" (click)="onLoggedin($event)">Iniciar Sesión</button>
              </div>
              <a routerLink="/auth/register" class="d-block mt-3 text-muted">Registrarse</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>