
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Reporte carnetización | UDS</h6>
          <p class="text-muted mb-3">Registros</p>
  
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Documento</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Programa</th>
                  <th>Tipo</th>
                  <th>Estado</th>
                  <th>RH</th>
                  <th>Registro</th>
                  <th>Actualizado</th>
                  <th>URL Foto</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr *ngFor="let modulo of modulos; let i = index">
                  <td>{{ modulo.id_modulo }}</td>
                  <td>{{ modulo.rol }}</td>
                  <td>{{ modulo.modulo }}</td>
                  <td><input type="checkbox" (change)="onCheckboxChange(modulo)" [(ngModel)]="modulo.habilitado"></td>
                </tr> -->
              </tbody>
            </table>
          </div>
  
        </div>
      </div>
    </div>
  </div>